* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}



/* ----------------------------------------------- */

@font-face {
  src: url(./fonts/Alumatica-Regular.ttf);
  font-family: "Alumatica-Regular";
}

@font-face {
  src: url(./fonts/ProximaNova-Light.ttf);
  font-family: "fonts/ProximaNova-Light";
}


/* ---------------- header ------------------- */

.header {
position: relative;
}

.header__row {
  padding-top: 20px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  background-color: transparent;
  width: 1000px;
  margin: 0 auto;
}

.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links a {
  font-size: .9rem;
  letter-spacing: .1rem;
  color: white;
  font-family: "Alumatica-Regular";
  font-weight: 800;
}

.header__logo {
  width: 180px;
}

.header__Logo {
  display: none;
}

.burder__menu {
  display: none;
}

.menuItem {
  text-align: center;
  display: block;
  margin: 2rem 4rem;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-family: "Alumatica-Regular";
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  color: white;
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border: none;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-130%);
  transition: transform 0.4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #be2525d0;
  backdrop-filter: blur(10px);
  color: white;
  list-style: none;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu img {
  width: 150px;
  margin-bottom: 40px;
}

.showMenu {
  transform: translateY(0);
}

@media (max-width: 1100px) {
  .header__row {
    padding-top: 20px;
    width: 650px;
    margin: 0 auto;
  }

  .header__logo {
    display: none;
  }

  .header__Logo {
    position: relative;
    top: 0px;
    left: 36%;
    display: block;
    width: 140px;
    margin-bottom: 10px;
  }

}

@media (max-width: 700px) {
  .header__row {
    padding-top: 0px;
    width: 500px;
  }

  .header__links {
    display: none;
  }

  .header__Logo {
    width: 130px;
    display: block;
  }

  .burder__menu {
    display: block;
  }

  .hamburger {
    position: relative;
    top: 50px;
    left: 10px;
  }

  .header__Logo {
    left: 70%;
  }

}

@media (max-width: 530px) {
  .header__row {
    width: 400px;
  }

  .header__Logo {
    width: 100px;
  }

  .hamburger {
    position: relative;
    top: 50px;
  }

  .header__Logo {
    left: 70%;
  }
}

/* main style */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Alumatica-Regular";
}


/* ------------------------- better place section ----------------------- */


.better__place {
  background-image: url(./img/main__bg.jpg);
  background-position: center;
  background-size: cover;
}

.better__place__container {
  color: white;
  padding: 300px 0px;
  width: 1000px;
  margin: 0 auto;
  font-family: "Alumatica-Regular";
}

.better__place__info__block {
  width: 430px;
}

.better__place__title {
  font-weight: 800;
  letter-spacing: .1rem;
  font-size: 1rem;
}

.better__place__subtitle {
  letter-spacing: .09rem;
  font-weight: 800;
  margin: 40px 0px;
  font-size: 3.3rem;
  line-height: 55px;
}

.better__place__button {
  font-size: .7rem;
  background-color: white;
  font-weight: 800;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
}

.better__place__button p {
  color: rgb(27, 27, 27);
  font-family: "Alumatica-Regular";
  letter-spacing: .09rem;
}

.better__place__button img {
  margin-right: 5px;
}

@media (max-width: 1100px) {

  .better__place__container {
    width: 650px;
  }
}

@media (max-width: 700px) {

  .better__place {
    background-image: url(./img/blankets.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .better__place__container {
    width: 500px;
    padding: 250px 0px;
  }
}

@media (max-width: 530px) {
  .better__place__container {
    width: 400px;
  }
}


/* -------------------------- advantages section ------------------------------- */

.advantages {
  position: relative;
}

/* the header that appears when scrolling to the second section */

.new__header__row {
  padding: 20px;
  position: absolute;
  right: 0;
  left: 0;
  top: -100px;
  background-color:#C33E3F;
  width: 100%;
  display: none;
 transition: all 0.3s;
}

.new__header__links{
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.new__header__links a {
  font-size: .8rem;
  letter-spacing: .1rem;
  color: white;
  font-family: "Alumatica-Regular";
  font-weight: 800;
}

/* -------------------------------------------------------------- */



.advantages__container {
  padding: 50px 0px 200px 0px;
  width: 1000px;
  margin: 0 auto;
}

.advantages__row {
  display: flex;
  justify-content: space-between;
}

.advantages__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.column__img img {
  width: 300px;
}

.column__img {
  margin-bottom: 50px;
}

.column__title {
  margin-bottom: 20px;
  font-family: "Alumatica-Regular";
  text-align: center;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: .1rem;
}

.column__text {
  line-height: 30px;
  font-family: "fonts/ProximaNova-Light";
  font-weight: 400;
  text-align: center;
}

.column__text a {
  color: #C33E3F;
}

@media (max-width: 1100px) {
  .advantages__container {
    width: 650px;
  }

  .advantages__column {
    width: 180px;
  }

  .column__img img {
    width: 180px;
  }

  .column__text {
    line-height: 25px;
  }

}

@media (max-width: 700px) {
  .advantages__container {
    padding: 50px 0px 100px 0px;
    width: 500px;
  }

  .advantages__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages__column {
    width: 300px;
    margin-bottom: 100px;
  }

  .column__img img {
    width: 300px;
  }

  .column__img {
    margin-bottom: 50px;
  }

  .column__title {
    margin-bottom: 20px;
    font-family: "Alumatica-Regular";
    text-align: center;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: .1rem;
  }

  .column__text {
    line-height: 30px;
    font-family: "fonts/ProximaNova-Light";
    font-weight: 400;
    text-align: center;
  }

  .column__text a {
    color: #C33E3F;
  }
}



/* ------------------------------ our mission section -------------------------- */


.our__mission {
  background-image: url(./img/section__bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.our__mission__container {
  padding: 180px 0px 100px;
  width: 1000px;
  margin: 0 auto;
}

.our__mission__info__block {
  text-align: center;
  font-family: "Alumatica-Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 0 auto;
  color: white;
}

.our__mission__title {
  font-family: "Alumatica-Regular";
  letter-spacing: .09rem;
  font-weight: 800;
  margin-bottom: 30px;
  font-size: 2.4rem;
  line-height: 40px;
}

.our__mission__text {
  font-family: "Alumatica-Regular";
  letter-spacing: .09rem;
  font-weight: 800;
  font-size: 1.2rem;
}

.our__mission__row {
  margin-top: 130px;
  display: grid;
  grid-template-columns: 180px repeat(4, 1fr);
  grid-auto-rows: 210px;
  grid-row-gap: 1em;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__img {
  margin-bottom: 25px;
}

.item__img img {
  width: 180px;
}

.item__title {
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
  color: white;
  line-height: 25px;
}

@media (max-width: 1100px) {
  .our__mission__container {
    padding: 180px 0px 100px;
    width: 650px;
  }

  .our__mission__title {
    font-size: 2rem;
  }

  .our__mission__text {
    font-size: 1rem;
  }

  .our__mission__row {
    display: grid;
    grid-template-columns: 180px repeat(2, 1fr);
  }

  .our__mission__row .last__item {
    grid-column: 2;
  }

}

@media (max-width: 700px) {
  .our__mission__container {
    padding: 150px 0px 100px;
    width: 500px;
  }

  .our__mission__info__block {
    width: 450px;
  }

  .our__mission__title {
    font-size: 2rem;
  }

  .our__mission__text {
    font-size: 1rem;
  }

  .our__mission__row {
    margin-top: 130px;
    display: grid;
    grid-template-columns: 180px repeat(2, 1fr);
    grid-auto-rows: 210px;
    grid-row-gap: 1em;
  }
}

@media (max-width: 530px) {
  .our__mission__container {
    padding: 150px 0px 100px;
    width: 400px;
  }

  .our__mission__title {
    font-size: 1.7rem;
  }

  .our__mission__info__block {
    width: 400px;
  }

  .our__mission__row {
    margin-top: 130px;
    display: grid;
    grid-template-columns: 180px repeat(1, 1fr);
    grid-auto-rows: 210px;
    grid-row-gap: 1em;
  }
}



/* --------------------------------- feedback section ------------------------------- */



.feedback__container {
  padding: 150px 0px 100px;
}

.feedback__title {
  text-align: center;
  font-family: "Alumatica-Regular";
  letter-spacing: .09rem;
  font-weight: 800;
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 40px;
  color: rgb(89, 89, 89);
}

.feedback__block {
  margin: 0 auto;
  width: 500px;
}

.feedback__block div {
  margin-bottom: 30px;
}

.feedback__block p {
  margin-left: 15px;
}

.feedback__block a {
  color: #C33E3F;
}

@media (max-width: 530px) {
  .feedback__block {
    margin: 0 auto;
    width: 400px;
  }
}


/* --------------------------- guestions section ----------------------------- */


.guestions {
  background: #ECF1F8;
}

.guestions__container {
  padding: 150px 0px;
  width: 1000px;
  margin: 0 auto;
}

.guestions__title {
  text-align: center;
  font-family: "Alumatica-Regular";
  letter-spacing: .09rem;
  font-weight: 800;
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 40px;
  color: rgb(89, 89, 89);
}

.guestions__accordion {
  display: flex;
  justify-content: space-between;
}

.first__column {
  width: 45%;
}

.second__column {
  width: 45%;
}

.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #565656;
  overflow: hidden;
  font-size: 1.2rem;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab a {
  color: #C33E3F;
}

.tab label {
  position: relative;
  display: block;
  font-weight: bold;
  line-height: 2;
  cursor: pointer;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease;
}

.tab-content p {
  line-height: 25px;
  font-size: 1.1rem;
  border-top: #b5b5b5 solid 1px;
  padding: 20px 0px;
}

.tab input:checked~.tab-content {
  max-height: 100vh;
}

.tab input[type=checkbox]+label::before {
  content: "+";
  color: #C33E3F;
  font-size: 1.5rem;
  margin-right: 20px;
}

@media (max-width: 1100px) {
  .guestions__container {
    padding: 150px 0px;
    width: 650px;
    margin: 0 auto;
  }

  .guestions__accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .first__column {
    width: 100%;
  }

  .second__column {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .guestions__container {
    padding: 150px 0px;
    width: 400px;
    margin: 0 auto;
  }

}



/* ---------------------------- contact section ------------------------------ */


.contact__container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 150px 0px;
  color: #565656;
}

.contact__info__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__title {
  font-weight: 800;
  font-size: 2.2rem;
}

.contact__info__title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact__info__title p {
  padding-top: 6px;
  font-weight: 800;
}

.contact__info__title img {
  margin-right: 10px;
}

.contact__info__text {
  line-height: 25px;
}

.contact__info__text a {
  color: #C33E3F;
}

.map iframe {
  width: 680px;
  height: 400px;
  filter: grayscale(1);
}

@media (max-width: 1100px) {
  .contact__container {
    width: 650px;
  }

  .map iframe {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 700px) {
  .contact__container {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 130px 0px;
  }

  .contact__info__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    margin-bottom: 60px;
  }

  .contact__title {
    font-weight: 800;
    font-size: 2.7rem;
  }

  .map iframe {
    width: 480px;
    height: 480px;
  }
}



/* ----------------------------------- footer ----------------------------------- */



.footer {
  background-color: #C33E3F;
  font-family: "Alumatica-Regular";
}

.footer__container {
  padding: 100px 0px;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.footer__title {
  text-align: center;
  letter-spacing: .09rem;
  font-weight: 800;
  margin-bottom: 50px;
  font-size: 2.7rem;
}

.email__form {
  text-align: center;
  color: #919191;
  margin-bottom: 50px;
}

.email__form input {
  width: 300px;
  color: #919191;
  padding: 17px 30px;
  margin-right: 10px;
}

.email__form button {
  text-transform: uppercase;
  padding: 17px 30px;
  background-color: white;
  border-radius: 50px;
  width: 150px;
}

.footer__info__block {
  margin-bottom: 50px;
}

small {
  font-size: 1rem;
  letter-spacing: .09rem;
  line-height: 23px;
}

small a {
  color: white;
  padding-bottom: 3px;
  border-bottom: rgba(255, 255, 255, 0.352) 1px solid;
  transition: border .3s ease;
}

small a:hover {
  border-bottom: white 1px solid;
}

.footer__logo img {
  width: 300px;
}


@media (max-width: 700px) {

  .footer__container {
    width: 500px;
  }

  .footer__title {
    line-height: 50px;
    font-size: 2.5rem;
  }
}